.catalog {
  display: block;
  width: auto;
  margin: auto;
  background: @light-grey;
  text-align: center;
  box-sizing: border-box;
}

.catalog__title {
  font-size: 27px;
}


@media @mobile-widths-only {
  .catalog {
    height: 175px;
    margin-bottom: 30px;
    padding: 50px 0;
  }
}

@media @tablet-widths {
  .catalog {
    position: relative;
    width: 768px;
    height: 228px;
    margin: -50px auto 75px;
    padding-top: 60px;
    box-sizing: border-box;
    border-top: 1px solid #ececec;
    z-index: 1;

    &::after {
      content: "";
      width: 102%;
      height: 20px;
      position: absolute;
      bottom: 0;
      left: -1%;
      background: url("../img/bg-zigzag-fill.svg") repeat-x 0 0;
      background-size: 100%;
      z-index: 10;
    }
  }

  .catalog__title {
    font-size: 43px;
  }

  .catalog__wpapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media @desktop-widths {
  .catalog {
    width: 1150px;
    height: 250px;
    margin: -60px auto 135px;
    padding: 0;
    padding-top: 50px;

    &::after {
      width: 100%;
      left: 0;
    }
  }

  .catalog__wpapper {
    width: 1050px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .catalog__title {
    font-size: 53px;
  }
}
