.contacts {
  position: relative;
  width: auto;
  margin: auto;
  margin-bottom: 40px;
}

.contacts__title {
  display: block;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
}

.contacts__data {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  font-size: 15px;
  line-height: 30px;
  color: @brd-dark-grey;
}

.contacts__cell  {
  height: 60px;
}

.contacts__info {
  width: 70%;
  margin-left: 0;
}

.contacts__mail {
  color: black;
  text-decoration: none;
  line-height: 30px;
  border-bottom:  2px solid @underline-green;
}

.contacts__map {
  width: auto;
  height: 458px;
  margin-bottom: 40px;
}

.contacts__pin {
  position: absolute;
}

.contacts__write {
  display: block;
  margin: auto;
  width: 260px;
  height: 50px;
  box-sizing: content-box;
  border: 2px solid black;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  text-align: center;
  color: @brd-dark-grey;
}

@media @mobile-widths-only {
  .contacts {
    width: 320px;
    padding-top: 5px;
  }

  .contacts__title {
    width: 260px;
  }

  .contacts__data {
    width: 260px;
    margin: 30px auto 60px;
  }

  .contacts__cell  {
    width: 30%;
  }

  .contacts__info {
    width: 70%;
  }

  .contacts__map {
    width: 320px;
    background: url("../img/map-mobile@1x.jpg") no-repeat 0 0;

    @media @retina {
      background-image: url("../img/map-mobile@2x.jpg");
    }
  }

  .contacts__frame {
    width: 320px;
    height: 457px;
  }

  .contacts__pin {
    top: 55%;
    left: 39%;
  }
}

@media @tablet-widths {
  .contacts {
    width: 768px;
    margin-top: 125px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;

    &--flag {
      display: block;
      width: 60px;
      height: 90px;
      margin-right: 40px;
      background: url("../img/icon-flag.svg") no-repeat 0 0;
    }
  }

  .contacts__title {
    width: auto;
    margin-left: 50px;
    margin-right: auto;
    font-size: 43px;
  }

  .contacts__data {
    margin: 30px auto 27px;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 50px;
    font-size: 17px;
  }

  .contacts__cell  {
    width: 22%;
  }

  .contacts__map {
    width: 768px;
    margin-top: 25px;
    text-align: center;
    background-image: url("../img/map-tablet@1x.jpg");

    @media @retina {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  .contacts__frame {
    width: 768px;
    height: 457px;
  }

  .contacts__pin {
    top: 51%;
    left: 46%;
  }

  .contacts__write {
    margin: auto;
    margin-top: 15px;
    width: 230px;
    font-size: 17px;
  }
}

@media @desktop-widths {
  .contacts {
    width: 1050px;
    height: 460px;
    margin-top: 140px;
    margin-bottom: 120px;
    padding-left: 175px;
    box-sizing: border-box;

    &--flag {
      position: absolute;
      top: 80px;
      left: 65px;
    }
  }

  .contacts__title {
    width: 100%;
    height: 90px;
    margin: 85px 0 0 0;
    padding: 0;
    font-size: 53px;
  }

  .contacts__data {
    width: 40%;
    height: 150px;
    flex-wrap: wrap;
    margin: 18px auto 130px 0;
    padding: 0;
  }

  .contacts__cell {
    width: 24%;
    height: auto;
    margin-bottom: 25px;
  }

  .contacts__info {
    width: 70%;
    height: auto;
  }

  .contacts__map {
    position: absolute;
    top: -5px;
    right: 0;
    width: 525px;
    background-image: url("../img/map-desktop@1x.jpg");

    @media @retina {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }

  .contacts__pin {
    top: 35%;
    left: 45%;
  }

  .contacts__frame {
    width: 525px;
    height: 457px;
  }

  .contacts__write {
    position: absolute;
    bottom: -10px;
    left: 175px;
    margin: 0;
  }
}
