.goods-item {
  width: 260px;
  margin: auto;
  margin-top: 25px;
}

.goods-item__title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.goods-item__subtitle {
  margin-top: 5px;
  font-size: 17px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
}

.goods-item__wrapper {
  font-size: 15px;
  line-height: 24px;
  color: @brd-dark-grey;
}

.goods-item__name {
  width: 35%;
  padding: 9px 0;
  border-bottom: 1px solid #ececec;
}

.goods-item__table {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.goods-item__extra {
  width: 65%;
  margin-left: 0;
  padding: 9px 0;
  border-bottom: 1px solid #ececec;
}

.goods-item__price {
  text-align: center;
}

.goods-item__price p {
  font-size: 17px;
  font-weight: bold;
  color: @brd-dark-grey;
}

.goods-item__order-button {
  display: block;
  width: 260px;
  height: 50px;
  background-color: white;
  padding-top: 13px;
  box-sizing: border-box;
  border: 2px solid @brd-dark-grey;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  color: @brd-dark-grey;
}

.goods-item__order-button:hover {
  background-color: @brd-dark-grey;
  color: white;
}

.goods-item__order-button:active {
  color: @grey;
}

@media @mobile-widths-only {
  .goods-item__order {
    margin-top: 30px;
  }

  .goods-item__img {
    width: 260px;
  }
}

@media @tablet-widths {
  .goods-item {
    position: relative;
    width: 668px;
    min-height: 510px;
    margin: 0 auto;
  }

  .goods-item__title {
    min-width: 500px;
    margin-top: 40px;
    font-size: 43px;
    float: left;
  }

  .goods-item__subtitle {
    width: 90px;
    float: right;
    margin-top: 48px;
    margin-right: 20px;
    text-align: center;
  }

  .goods-item__wrapper {
    width: 50%;
    float: left;
    margin-top: 35px;
    font-size: 17px;
    line-height: 30px;
  }

  .goods-item__table {
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    margin-top: 35px;
  }

  .goods-item__name {
    width: 28%;
    border-bottom: 1px solid #ececec;
  }

  .goods-item__img {
    float: right;
    margin-top: 35px;
  }

  .goods-item__price-wrapper {
    width: 50%;
    float: left;
    margin-top: 7px;
  }

  .goods-item__price {
    width: 290px;
  }

  .goods-item__price p {
    font-size: 20px;
    line-height: 24px;
  }

  .goods-item__order {
    margin-top: 35px;
  }

  .goods-item__order-button {
    width: 290px;
  }

  .goods-item::after {
    content: "";
    position: absolute;
    bottom: -110px;
    left: -25%;
    width: 150%;
    height: 20px;
    background: url("../img/bg-zigzag-line.svg") repeat-x 0 0;
    opacity: 0.7;
  }
}

@media @desktop-widths {
  .goods-item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 1050px;
    margin-top: 80px;
    padding-left: 175px;
    box-sizing: border-box;
  }

  .goods-item__title {
    width: 100%;
    margin-bottom: 35px;
    font-size: 53px;
    z-index: 15;
  }

  .goods-item__subtitle {
    position: absolute;
    top: 5px;
    left: 38px;
  }

  .goods-item__wrapper {
    width: 100%;
    margin-top: 0;
  }

  .goods-item__wrapper p {
    width: 35%;
    margin-top: 12px;
  }

  .goods-item__table {
    width: 40%;
    margin-top: 45px;
  }

  .goods-item__price-wrapper {
    width: auto;
    margin-top: 65px;
    text-align: center;
  }

  .goods-item__img {
    background-color: @brd-grey;
    margin-top: -15px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }

    .goods-item::after {
      bottom: -100px;
    }
}
