.making {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border-top: 2px solid @light-grey;
  border-bottom: 2px solid @light-grey;
}

.making__order {
  display: block;
  order: 4;
  padding-top: 11px;
  box-sizing: border-box;
  width: 190px;
  height: 50px;
  background-color: white;
  border: 2px solid black;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.making__title--video {
  display: block;
  width: 40px;
  height: 30px;
  background: url("../img/icon-video.svg") no-repeat 0 0;
}

.making__title h4 {
  display: block;
  width: auto;
  font-size: 17px;
  font-weight: bold;
}
.making-video {
  position: relative;
}

.making-description {
  order: 3;
  padding-left: 35px;
  font-size: 13px;
  line-height: 24px;
  color: @brd-dark-grey;
}

.making--play-button {
  width: 102px;
  height: 78px;
  position: absolute;
  top: 38px;
  left: 79px;
  border: none;
  outline: none;
  background: url("../img/icon-play.svg") no-repeat 0 0;
}

.making--play-button:hover {
  transform: scale(1.2);
}

.making--play-button:active {
  transform: scale(0.8);
  opacity: 0.5;
}

@media @mobile-widths-only {
  .making {
    position: relative;
    width: 260px;
    margin-bottom: 60px;
    border: 2px solid @light-grey;
  }

  .making__title {
    display: flex;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 180px;
  }

  .making__title--video {
    margin: 20px 30px 0 35px;
  }

  .making-video {
    position: absolute;
    top: 95px;
  }

  .making-description {
    width: 215px;
    box-sizing: border-box;
  }

  .making__order {
    margin: 28px auto 30px;
  }
}

@media @tablet-widths {
  .making {
    width: 668px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border: 2px solid @light-grey;
  }

  .making__img {
    width: 100%;
    height: 100%;
  }

  .making__order {
    width: 585px;
    margin: 35px auto 30px;
  }

  .making__title {
    width: auto;
    order: 2;
    display: inline-flex;
    margin-top: 10px;
    margin-left: 10px;
  }

  .making__title h4 {
    display: block;
    width: auto;
    font-size: 20px;
  }

  .making__title--video {
    margin: 20px 30px 0 35px;
  }

  .making p {
    display: block;
    width: auto;
    margin: auto;
    font-size: 15px;
    line-height: 30px;
  }

  .making-wrapper {
    order: 2;
  }

  .making-video {
    order: 1;
    width: 668px;
    height: 455px;
    margin: auto;
    background-color: @light-grey;
  }

  .making--play-button {
    top: 43%;
    left: 43%;
  }

  .making-description {
    margin-top: 10px;
    padding: 0 40px;
  }
}

@media @desktop-widths {
  .making {
    width: 1050px;
    flex-wrap: nowrap;
    padding-bottom: 0;
    margin-bottom: 105px;
  }

  .making__img {
    width: 682px;
  }

  .making__title {
    width: 220px;
    flex-wrap: wrap;
    margin: 50px 0 0 40px;
  }

  .making__title--video {
    width: 100%;
    margin: 0;
  }

  .making__title h4 {
    width: 100%;
    margin-top: 10px;
  }

  .making__order {
    width: 230px;
    margin: 25px 0 40px 40px;
  }

  .making-video {
    width: 682px;
    margin: 0;
  }

  .making--play-button {
    top: 42%;
    left: 44%;
  }

  .making-wrapper {
    display: flex;
    width: 33%;
    margin-left: 43px;
    flex-wrap: wrap;
    order: 2;
  }

  .making-description {
    margin: 0 0 10px 0;
  }
}
