.modal-content {
  display: none;
}

.modal-content-show {
  display: block;
}

.modal-content__wrapper {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  padding: 35px 9.375% 46px;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
  border-top: 1px solid #d2d2d2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.modal-content__title {
  display: block;
  width: 200px;
  margin: auto;
  margin-bottom: 32px;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}

.modal-content__text {
  margin: auto;
  margin-bottom: 32px;
}

.modal-content__choice {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.modal-content__size {
  display: block;
  position: relative;
  cursor: pointer;
}

.modal-content__field {
  display: block;
  width: 33%;
  height: 40px;
  text-align: center;
}

.modal-content__field input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 25px;
  width: 60px;
  height: 40px;
  border-radius: 0;
  border: 2px solid @brd-light-grey;
  background: transparent;
}

.modal-content__field input[type="radio"]:hover + label::before {
  border: 2px solid @brd-dark-grey;
}

.modal-content__field input[type="radio"]:checked + label::before {
  border: 2px solid @light-green;
}

.modal-content__add {
  width: 260px;
  margin: auto;
  height: 50px;
  background-color: #63d1bb;
  font-size: 17px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  border: none;
}

.modal-content__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}

@media @mobile-widths-only {
  .modal-content__wrapper {
    width: 320px;
    height: 338px;
    margin-top: -168px;
    margin-left: -160px;
  }

  .modal-content__field input[type="radio"] + label::before {
    left: 10px;
  }
}

@media @tablet-widths {
  .modal-content__wrapper {
    width: 568px;
    height: 340px;
    margin-left: -284px;
    padding: 54px 108px;
    border: 1px solid #ececec;
  }

  .modal-content__title {
    width: 350px;
  }

  .modal-content__size {
    width: 110px;
  }

  .modal-content__field input[type="radio"] + label::before {
    width: 110px;
    left: 0;
  }

  .modal-content__add {
    width: 350px;
  }
}

@media @desktop-widths {
  .modal-content {
    left: 26%;
  }
}
