.reviews {
  margin: auto;
  font-size: 15px;
  line-height: 30px;

  &__text {
    padding-right: 10px;
    box-sizing: border-box;
    color: @brd-dark-grey;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  &__author {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
  }

  &__link {
    font-size: 18px;
    color: #444444;
    margin-top: -15px;
  }

  &__button {
    display: flex;
    margin: 30px auto 0 auto;
    width: 260px;
  }

  &__button-prev,
  &__button-next {
    width: 50%;
    height: 50px;
    border: 2px solid @light-grey;
    box-shadow: none;
    background: url("../img/icon-left-arrow.svg") no-repeat center center;
    cursor: pointer;
  }

  &__button-prev {
    background: url("../img/icon-left-arrow.svg") no-repeat center center;
  }

  &__button-next {
    background: url("../img/icon-right-arrow.svg") no-repeat center center;
  }

  &__write {
    width: auto;
    margin: 40px 0 90px;
  }

  &__write a {
    display: block;
    width: 260px;
    height: 50px;
    padding-top: 9px;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid black;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    text-align: center;
    outline: none;
    cursor: pointer;
  }
}

@media @mobile-widths-only {
  .reviews {
    width: 260px;
  }
}

@media @tablet-widths {
  .reviews {
    position: relative;
    width: 768px;
    height: 460px;
    margin: auto;
    padding: 0 50px;
    box-sizing: border-box;
    font-size: 17px;
    background: url("../img/review@1x.jpg") no-repeat 0 0;

    @media @retina {
      background-image: url("../img/review@2x.jpg");
    }

    &__title {
      padding-top: 90px;
      margin-bottom: 60px;
      font-size: 43px;
    }

    &__personal {
      width: 50%;
      float: left;
      margin-top: 33px;
    }

    &__author {
      line-height: 14px;
    }

    &__write {
      width: auto;
      margin: 40px 0 90px;
    }

    &__button {
      width: 180px;
      position: absolute;
      bottom: 50px;
      right: 50px;
    }

    &__write a {
      width: 175px;
      border-color: @brd-dark-grey;
      position: absolute;
      top: 82px;
      right: 50px;
    }
  }
}

@media @desktop-widths {
  .reviews {
    width: 1050px;
    padding-left: 175px;
    padding-right: 0;
    background-image: url("../img/review@2x.jpg");

    &__title {
      font-size: 53px;
      padding-top: 83px;
    }

    &__text {
      margin-bottom: 38px;
    }

    &__personal {
      width: 40%;
      margin-top: 0;
    }

    &__button {
      width: 175px;
      padding: 50px 0;
      right: 0;
    }

    &__write a {
      top: 75px;
      right: -1px;
    }
  }
}
